.dropdown{
  position: absolute;
  z-index: 100000;
  top: 67px;
  right: 7px;
  width: 20vw;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #F3EFE0;
  border-radius:0 0 10px 10px;
  user-select: none;
  .dropdown-head{
    flex-flow: column;
    background-color: #000;
    p{
      color: #fff;
    }
  }
  .button-div{
    a{
      width: auto;
    }
    button{
      width: auto;
      padding: 7px;
      border: none;
    }
  }
}
