.song-name{
  font-weight: bolder;
  font-size: 1.1rem;

  word-wrap: break-word;
  width: 21.71ch;
}

.another-song-name{
  font-weight: bolder;
  font-size: 1.1rem;

  word-wrap: break-word;
  width: 30ch;
}

.author-name{
  font-weight: lighter;
  color: gray;
  display: inline;
}